@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-image: url('../../Image/image9.jpg');
        background-size:1500px 750px;
    }
</style>


<center>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>

    <a class="btn btn-info" href="http://localhost:54416/" role="button">Back Page</a>
    <a class="btn btn-primary" href="Contact" role="button">Next Page</a>
</center>