<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body class="center-block">
    <hgroup>
        <h1>Sorry.............!</h1>
        <h2>Somthing went to wrong.</h2>
    </hgroup>
    <img src="~/Image/dog pic.png" />
</body>
</html>
